/*
    Autor: Matheus Ricardo Uihara Zingarelli
    Última modificação: 03/11/2022
*/

:root {
    --bg-linear-1: #decbfc;
    --bg-linear-2: #e8dcfa;
    --bg-linear-3: #f3effa;
    --swiper-bg: #eee4ff;
    --font-color: #9d00ea;
    --main-font-family: arial, helvetica, serif;
}

body {
    color: var(--font-color);
    background: linear-gradient(var(--bg-linear-1), 20%, var(--bg-linear-2) 40%, var(--bg-linear-3));
    font-family: var(--main-font-family);
    font-size: 18px;
    font-weight: 400;
    text-align: center;
}

h2 {
    font-size: 1.4em;
    font-weight: 500;
    margin-bottom: .7em;
}

p {
    margin-bottom: .4em;
}

a {
    color: var(--font-color);
    text-decoration: none;
}

main,
footer {
    margin: 2em;
}

/* --- HEADER */
.header__logo {
    margin: 2em 1em 0;
}

.header__image {
    width: 100%;
    max-height: 30vh;
}

/* --- CONTATO */
.header__contato {
    padding: 1em 0;
    margin: 1em auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    border-top: 1px dotted;
    border-bottom: 1px dotted;
    font-size: .9em;
}

.contato__item {
    gap: .2em;
}

.contato__link {
    display: flex;
    align-items: center;
    justify-content: center;
}

.contato__icone {
    width: 1.2em;
    margin-right: .2em;
}

/* --- CONTEÚDO PRINCIPAL */
.descricao {
    min-height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    margin: 0 auto;
}

/* --- FOTOS */
.fotos {
    margin: 2em auto 4em;
}

.swiper {
    width: 100%;
    height: 80vh;
    margin-top: 1.5em;
}

.swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--swiper-bg);
}

.swiper-slide>img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.swiper-pagination {
    display: none;
}

/* --- LOCALIZAÇÃO */
.local__mapa {
    width: 100%;
    height: 65vh;
    margin: 1.5em auto;
}

/* --- FOOTER */
footer {
    padding-top: 5em;
    font-size: .9em;
}

footer>p {
    margin-bottom: 1em;
}

@media screen and (min-width: 768px) {
    .header__image {
        max-width: 750px;
    }

    .header__contato {
        justify-content: center;
        column-gap: 3em;
    }

    .descricao {
        align-items: center;
    }

    .swiper-pagination {
        display: block;
    }
}

@media screen and (min-width: 1024px) {
    main {
        margin: 0 2em;
    }

    .swiper {
        width: 70vw;
        height: 90vh;
    }
}